body {
    background-color: rgb(147, 52, 236);
}
h1 {
    color: white;
}

h2 {
    color:white
}

h3 {
    color: white;
}

#container {
    background-color:rgb(153, 0, 255) ;
    width: 1250px;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid;
    border-radius: 15px;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    font-size: 40px;
}

nav {
    text-align: center;
    border-top: 3px solid; color: white;
    border-bottom: 3px solid; color: white;
    padding: 20px;
}

nav a {
    font-size: 25px;
    color: white;
    margin: 0 25px;
}

nav a:hover {
    color: rgb(98, 5, 185);
}

main {
    padding: 20px;
    margin: 20px auto;
    border: 3px solid;
    border-radius: 15px;
    color: white;
}
main h2 {
text-align: center;
color: white;
}

main img {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}
main h3 {
    text-align: center;
}

footer {
    padding: 40px 0;
    text-align: center;
    border-top: 3px solid; color: white;
}