body {
    background-color: #15b100;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #0d6b00;
    font-family: "Oswald", sans-serif;
}

.img_style {
    width: 75%;
    border: 4px solid #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container {
    background-color: #575757;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid #ffffff;
    border-radius: 20px;
}

nav {
    text-align: center;
    border-bottom: 3px solid #15b100;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #15b100;
    color: rgb(0, 0, 0);
    width: 95%;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 15px;
    border-bottom: 3px solid #000000;
    border-right: 1px solid #000000;
}

nav li a:hover {
    background-color: #0d6b00;
    color: #c2c2c2;
}

main h2 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #0d6b00;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

main h3 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #0d6b00;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

a {
    color: #FFFFFF;
}

.multi_col {
    text-align: center;
}

main h4 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #0d6b00;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

iframe {
    display: block;
    margin: 20px auto;
    width: 100%;
}

section, aside {
    border: 4px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
}

section img {
    width: 100%;
    border: 4px #732289;
    border-radius: 10px;
}

aside img {
    width: 75%;
    border: 4px #0d6b00;
    border-radius: 10px;
}

hr {
    border: 2px solid #15b100;
}

main {
    padding: 10px;
    margin: 10px;
    border: 3px solid #ffffff;
    border-radius: 10px;
}

footer {
    padding: 35px 0;
    text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }

    .multi_col {
        display: flex;
    }
    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
    }
}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    .gallery {
        display: flex;
    }

  .col {
        margin: 10px auto;
        padding: 10px;
        border-radius: 10px;
  }
    .col img {
        width: 300px;
    }
}